body, div, span {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
}

body, div, span, input, button, a {
  font-family: 'Source Code Pro', monospace;
}

.blinking {
  text-decoration: blink;
}

.wrapper {
  background-color: white;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
  padding: 20px 20px 20px 50px;
  width: 600px;
}

.original-url {
  border: solid 1px #C0C0C0;
  padding: 10px;
}

.shortened-url {
  border: solid 1px #C0C0C0;
  padding: 10px;
}

input {
  width: 80%;
}

input, button {
  background-color: white;
  border: solid 1px #C0C0C0;
  font-size: 1em;
  padding: 0.5em;
}
